# Laboratory 2 - King Count House Prices: Linear Regression
Submitted by: Anthony Aromin

## Initial Setup

In [1]:
# import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
# import the cleaned dataset
df = pd.read_csv('house_data_cleaned.csv')

In [7]:
# just checking cuz I forgor ðŸ’€
df.head(5)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2,7.504021e+09,20141204T000000,745000.0,3.0,2.50,2970.0,11985.0,1.0,False,...,9,1770.0,1200.0,1995,0,98074.0,47.6359,-122.052,2990,12049.0
1,3,8.024202e+09,20141117T000000,397000.0,2.0,1.00,1000.0,7664.0,1.0,False,...,7,1000.0,0.0,1939,0,98115.0,47.7001,-122.311,1570,6350.0
2,5,5.437401e+09,20141016T000000,625000.0,4.0,2.25,1920.0,8259.0,2.0,False,...,8,1920.0,0.0,1979,0,98027.0,47.5616,-122.088,2030,8910.0
3,7,3.832600e+09,20150504T000000,270000.0,3.0,2.25,1740.0,7345.0,1.0,False,...,7,1380.0,360.0,1973,0,98032.0,47.3663,-122.285,1770,8250.0
4,8,9.477001e+09,20140722T000000,360000.0,3.0,1.75,1300.0,7770.0,1.0,False,...,7,1300.0,0.0,1967,0,98034.0,47.7347,-122.192,1520,7600.0

In [9]:
# choosing only the necessary data
df.drop([
    'Unnamed: 0',
    'id',
    'date'
], axis=1, inplace=True)
df.head(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,745000.0,3.0,2.50,2970.0,11985.0,1.0,False,0,3,9,1770.0,1200.0,1995,0,98074.0,47.6359,-122.052,2990,12049.0
1,397000.0,2.0,1.00,1000.0,7664.0,1.0,False,2,3,7,1000.0,0.0,1939,0,98115.0,47.7001,-122.311,1570,6350.0
2,625000.0,4.0,2.25,1920.0,8259.0,2.0,False,0,4,8,1920.0,0.0,1979,0,98027.0,47.5616,-122.088,2030,8910.0
3,270000.0,3.0,2.25,1740.0,7345.0,1.0,False,0,3,7,1380.0,360.0,1973,0,98032.0,47.3663,-122.285,1770,8250.0
4,360000.0,3.0,1.75,1300.0,7770.0,1.0,False,0,3,7,1300.0,0.0,1967,0,98034.0,47.7347,-122.192,1520,7600.0

In [18]:
# specifying data (x) and target (y)
x = df.iloc[:, 1:]
y = df['price']

## Training

In [ ]:
# split the data for training
# 75% training, 25% testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [ ]:
# create regression model
model = LinearRegression()
model.fit(x_train, y_train)